@model LoginViewModel
    <form asp-controller="account">
        <div class="login-page">
            <div class="main-container-centered">
                <div class="container-first">
                    <div class="all-elements">
                        <img src="~/images/authentication/login.png"
                             srcset="~/images/authentication/login@2x.png 2x, ~/images/authentication/login@3x.png 3x"
                             class="image-responsive">
                    </div>
                </div>
                <div class="container-second">
                    <div>
                        <h2>Sign in</h2>
                    </div>
                    <div>
                        <label class="sign-in-sign-up-label">Please login to your account</label>
                    </div>
                    <input id="ReturnUrl" asp-for="ReturnUrl" type="hidden" class="form-control" />
                    <partial name="_ValidationSummary" />
                    <div class="all-elements">
                        <label>Email</label>
                        <input type="email" asp-for="Email" class="form-control" placeholder="Email" />
                        <span asp-validation-for="Email" class="is-invalid"></span>
                    </div>
                    <div class="all-elements">
                        <label>Password</label>
                        <input type="password" asp-for="Password" class="form-control" placeholder="Password" />
                        <span asp-validation-for="Password" class="is-invalid"></span>
                    </div>
                    <div class="form-group all-elements">
                        <button name="button" type="submit" value="login" class="sign-in-sign-up-active-button sign-in-sign-up-active-button-text">SIGN IN</button>
                    </div>
                    <div class="form-group all-elements">
                        <button name="button" type="submit" value="register" class="sign-in-sign-up-not-active-button sign-in-sign-up-not-active-button-text">SIGN UP</button>
                    </div>
                    <div class="form-group all-elements">
                        @foreach (var provider in Model.VisibleExternalProviders)
                        {
                            @if (provider.DisplayName == "Google")
                            {
                                <a type="button" class="btn btn-default all-elements" asp-controller="External" asp-action="Login" asp-route-provider="@provider.AuthenticationScheme" asp-route-returnUrl="@Model.ReturnUrl">
                                    <img src="~/images/authentication/google_light.png">
                                </a>
                            }
                            else if (provider.DisplayName == "Facebook")
                            {
                                <a type="button" class="btn btn-default all-elements" asp-controller="External" asp-action="Login" asp-route-provider="@provider.AuthenticationScheme" asp-route-returnUrl="@Model.ReturnUrl">
                                    <img src="~/images/authentication/facebook_light.png">
                                </a>
                            }
                            else if (provider.DisplayName == "Microsoft")
                            {
                                <a type="button" class="btn btn-default all-elements" asp-controller="External" asp-action="Login" asp-route-provider="@provider.AuthenticationScheme" asp-route-returnUrl="@Model.ReturnUrl">
                                    <img src="~/images/authentication/ms_light.png">
                                </a>
                            }
                        }
                    </div>
                    <div class="form-group">
                        <button name="button" type="submit" value="forgot" class="sign-in-sign-up-not-active-button sign-in-sign-up-not-active-button-text">Forgot password</button>
                    </div>
                </div>
            </div>
        </div>
    </form>
